.THIS {
    background: url('https://wallpaper-house.com/data/out/7/wallpaper2you_176026.jpg') no-repeat center center fixed;
    -webkit-backround-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}