.THIS.container {
    display: flex;
	justify-content: center;
    background-color: #34475B;
    overflow-y: auto;    
}
.THIS .header-text {
    font-size: 3rem !important;
    color: #B8B08D;
    font-family: 'Brush Script MT',cursive !important;
}

.THIS .header {
    text-align:center;
    display: flex;
    justify-content: center;
    position: sticky;
    width:100%;
    top: 0;
    z-index: 1;
    background-color: #202C39;
}